/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Header styles */
h1 {
  font-size: 24px;
  text-align: center;
  padding: 20px 0;
  margin-top: 10px;
  /* Adjust the margin-top value as needed */
}

/* Data container styles */
#chartContainer {
  width: 50%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* TU Berlin line styles */
#tuBerlinLine {
  position: relative;
  margin-top: 140px;
  height: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

#tuBerlinLine::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 150px;
  background-image: linear-gradient(to right, #1f90cc, rgba(73, 203, 64, 0.3));
  transform: translateY(-50%);
  z-index: -1;
}

/* Logo styles */
.tu-logo,
.einstein-logo,
.schema-logo,
.github {
  display: flex;
  align-items: center;
  margin-right: 20px;
  /* Adjust the margin value as desired */
}

.tu-logo {
  margin-left: 0;
  /* Remove the left margin for the first logo */
}

.logo img {
  max-height: 50px;
  width: auto;
  height: auto;
}

.logo img.tu-logo {
  width: 100px;
  height: auto;
}

.logo img.einstein-logo {
  width: 100px;
}

.logo img.github-logo {
  width: 40px;
}

.links a {
  color: white;
  margin: 0 5px;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

/* Animation styles */
@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeAnimation 0.5s ease-in-out;
}

/* Additional styles for the modified layout */
#costDisplay {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  width: 200px;
  /* Adjust the width as desired */
  height: 40px;
  /* Adjust the height as desired */
  margin: 20px auto;
  /* Adjust the margin as needed */
  font-size: 0.8em;
  /* Adjust the font size as needed */
  font-weight: bold;
  /* Add bold font weight */
  align-items: center;
  /* Center the text vertically */
}

.cost-item {
  padding: 5px;
  white-space: nowrap;
  animation: slide 10s linear infinite;
  /* Adjust the animation duration as needed */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

#enlargedSchemaImage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: zoom-out;
}

#enlargedSchemaImage img {
  max-width: 90%;
  max-height: 90%;
}

#enlargedSchemaImage.show {
  display: flex;
}

@media (max-width: 480px) {
  #chartContainer {
    width: 100%;
  }

  h1 {
    font-size: 16px;
  }

  #costDisplay {
    font-size: 1em;
  }

  .logo img {
    width: 100px;
  }
}