<!DOCTYPE html>
<html>
<head>
  <title>FC SS23</title>
  <link rel="stylesheet" type="text/css" href="static/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="static/js/main.js"></script>
</head>
<body>
  <h1>IoT real-time power consumption simulation</h1>
  <div id="chartContainer" style="width: 50%; margin: auto;">
    <canvas id="dataChart"></canvas>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; height: 58vh; margin-top: 10px;">
    <img src="static/visuals/schema.png" alt="Fog Computing Prototype SS23" style="width: 672px; height: auto;">
  </div>
</body>
</html>
