<!DOCTYPE html>
<html>
<head>
  <title>FC SS23</title>
  <link rel="stylesheet" type="text/css" href="static/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <img id="topLeftImage" src="/../static/visuals/tub.png" alt="tub logo">
  <h1>EdgeMeter: Real-Time Power Consumption Metering</h1>
  <div id="costDisplay"></div>
  <h3 style="text-align: center;">Power prices /household/german state (assumption: 0.30 €/kWh)</h3>
  <div id="chartContainer">
    <canvas id="dataChart"></canvas>
  </div>
  <div id="tuBerlinLine">
    <img id="tuBerlinImage" src="/../static/visuals/ec.png" alt="Einstein Center">
  </div>
  <div id="enlargedSchemaImage">
    <img src="static/visuals/schema.png" alt="Fog Computing Prototype SS23">
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="static/js/main.js"></script>
</body>
</html>
